rect {
    fill: none;
    stroke: #FFFFFF;
}
rect.parent, .grandparent rect {
    stroke-width: 2px;
}
.grandparent rect {
    fill: #F8FCAB;
}
.grandparent:hover rect {
    fill: #FDFFDD;
}
.children rect.parent, .grandparent rect {
    cursor: pointer;
}
rect.parent {
    pointer-events: all;
}
.children:hover rect.child {
    fill: #AAAAAA;
}