<tbody>
	<tr>
		<td>
		<p style="margin: 0 10px; color:#543005" class="text-xlg1">
			52%
		</p></td>
		<td>
		<p style="text-align:right; margin: 0 10px;color:#003c30" class="text-xlg1">
			48%
		</p></td>
	</tr>
	<tr>
		<td width="52%">
		<div style="background-color: #543005;height: 30px;border-radius: 5px 0 0 5px;">
			&nbsp;
		</div></td>
		<td width="48%">
		<div style="background-color: #003c30;height: 30px;border-radius: 0 5px 5px 0;">
			&nbsp;
		</div></td>
	</tr>
	<tr>
		<td>
		<p style="margin: 0 10px;font-size:1.5em;">
			Simple Malaria
		</p></td>
		<td>
		<p style="text-align:right; margin: 0 10px;font-size:1.5em;">
			Severe Malaria
		</p></td>
	</tr>
</tbody>